<<<<<<< HEAD
a[href*="/wiki/"] {
    pointer-events: none;
    cursor: default;
    color: brown;
}
=======
﻿a[href*="/wiki/"] {
    pointer-events: none;
    cursor: default;
    color: brown;
}
>>>>>>> 0273240062754dbe5eebc7022ea6c99c9fc935a8
